.about {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #FFCBBE;
    border: 5px dotted white;
}

.about__item {
    align-items: center;
    text-align: center;
    max-width: 140px;
    padding: 80px 40px 80px 40px;
}

.about__item > img {
    max-width: 100px;
    opacity: 80%;
}