.featured {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.transition__graphics {
    width: 50px;
}

.transition {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    margin: 150px 100px 10px 100px;
}

.transition > h2 {
    padding: 20px;
    text-align: center;
}

.featured__products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}