.featured {
    display: flex;
    flex-direction: column;
}

.transition__graphics {
    width: 50px;
}

.transition {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 60px;
}

.featured__products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}