.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    background-color: white;
    position: sticky;
    border-bottom: 2px solid #FCAF55;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header__logo {
    padding: 15px;
}

.header__functional {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85vw;

}

.basket__icon {
    width: 20px;
    height: 20px;
    margin-left: 40px;
}

.registracija {
    color: #B24349;
}

.basket__count {
    color: #B24349;
    margin-left: 15px;
}