.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #B24349;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
}
    
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login__option {
    height: 60px;
    padding-top: 15px;
}

a:visited, a:link, a:active {
    text-decoration: none !important;
    color: black;
} 

a:hover {
    color: #B24349;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    padding: 10px;
}

.basket__icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.basket__count {
    color: #B24349;
    margin-left: 15px;
    margin-right: 15px;
}


